@{
    ViewData["Title"] = "Edit Clinic";
    ViewData["Controller"] = "Coordinator";
}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.13.5/xlsx.full.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.13.5/jszip.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="~/js/moment.min.js"></script>

<script src="~/js/classes/TableManager.js"></script>
<script src="~/js/classes/AJAXManager.js"></script>
<script src="~/js/classes/ScheduleManager.js"></script>
<script src="~/js/editClinic.js"></script>

<div class="container">
    <main role="main" class="pb-3">
        <div class="row d-flex justify-content-center">
            <div class="col-sm-7" style="min-width: 400px;">
                @*Organised in 'tabs' so that the user can move through the process one at a time*@
                <div class="card formContainer">
                    <h5 class="card-header">
                        Edit A Clinic
                    </h5>

                    @*CREATING A SCHEDULE*@
                    <div class="card-body">
                        <h5 class="card-title">Edit a Schedule</h5>
                        
                        <form id="editAClinicForm">
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="scheduleNameInput">Schedule name</label>
                                    <input type="text" class="form-control input" id="scheduleNameInput" placeholder="Schedule name" required>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="scheduleDateInput">Date</label>
                                    <input type="date" class="form-control input" id="scheduleDateInput" placeholder="Schedule name" required>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6 mb-3">
                                    <label for="scheduleStartTimeInput" class="form-label">Clinic Start Time</label>
                                    <input disabled type="text" class="form-control input" id="scheduleStartTimeInput" placeholder="9:40" required>
                                </div>

                                <div class="form-group col-md-6 mb-3">
                                    <label for="scheduleDurationInput" class="form-label">Appointment Duration</label>
                                    <input disabled type="text" class="form-control input" id="scheduleDurationInput" placeholder="20 minutes" required>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md mb-5">
                                    <label for="locationInput">Locations</label>
                                    <input disabled type="text" class="form-control input" id="locationInput" placeholder="BJ1-49, BJ1-50" required>
                                </div>
                            </div>

                            <table class="table table-sm table-hover">
                                <thead>
                                    <tr class="text-center">
                                        <th class="text-center" colspan="12">Clinic Schedule <span id="clinicDate">DATE</span></th>
                                    </tr>
                                    @*<tr class="text-center">
                                        <th class="text-center" colspan="12" id="initialLocation">Location 1</th>
                                    </tr>
                                    <tr class="text-center">
                                        <th scope="col">Time</th>
                                        <th scope="col">Patient</th>
                                        <th scope="col">Infectious</th>
                                        <th scope="col">Site</th>
                                        <th scope="col">RT1</th>
                                        <th scope="col">RT2</th>
                                        <th scope="col">Complication</th>
                                    </tr>*@
                                </thead>
                                @*<tbody class="text-center" id="scheduleList0">

                                </tbody>*@
                            </table>

                            <div id="scheduleHolder">

                            </div>

                            <button class="btn button" type="submit" id="saveBtn">Save</button>
                        </form>
                    </div>
                </div>

                @*FORM STEPS*@
                <div style="text-align:center;margin-top:40px;">
                    <span class="step"></span>
                    <span class="step"></span>
                    <span class="step"></span>
                </div>
            </div>
        </div>
    </main>
</div>