@using UniSA_Radiation_Therapy_Mock_Clinic_Scheduler.Firebase;
@model UniSA_Radiation_Therapy_Mock_Clinic_Scheduler.Models.AccountModel
@{
    ViewData["Title"] = "Account";
    ViewData["Controller"] = "Account";

    UserModel CurrentUser = ViewBag.CurrentUser;
}

@if (CurrentUser != null)
{
    <div class="container">
        <main role="main" class="pb-3">
            <div class="row d-flex justify-content-center">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Account Details</h5>
                            <hr />

                            <form>
                                <div class="form-group">
                                    <input type="text" disabled placeholder="First Name" value="@CurrentUser.FirstName" class="form-control input" required />
                                </div>

                                <div class="form-group">
                                    <input type="text" disabled placeholder="Last Name" value="@CurrentUser.LastName" class="form-control input" required />
                                </div>

                                @if(@CurrentUser.CCCode != null) {
                                    <div class="form-group">
                                        <input type="text" disabled placeholder="Course Coordinator Code" value="@CurrentUser.CCCode" class="form-control input" />
                                    </div>
                                }
                            </form>
                        </div>
                    </div><br />

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Request User Data</h5>
                            <hr />

                            <div class="form-group">
                                <a class="btn button" asp-controller="Account" asp-action="RequestUserData">Request Data (GDPR)</a>
                            </div>
                            <div class="form-group">
                                <a class="btn button" asp-controller="Account" asp-action="DeleteUserData">Delete Data (GDPR)</a>
                            </div>
                        </div>
                    </div><br />

                    <div class="card">
                        <div class="card-body">
                            <h5>Issues with the site?</h5>
                            <hr />

                            <div class="form-group">
                                <span class="form-control immitation-input text-center my-auto">
                                    Email us at <a href="mailto:unisamockclinic+dev@gmail.com">unisamockclinic+dev@gmail.com</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
}