@model UniSA_Radiation_Therapy_Mock_Clinic_Scheduler.Models.AccountModel
 
@{
    ViewData["Title"] = "Register";
    ViewData["Controller"] = "Account";
}

<div class="container">
    <main role="main" class="pb-3">
        <div class="row d-flex justify-content-center">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Register</h5>

                        <form asp-action="Register">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="form-group">
                                <input asp-for="FirstName" type="text" placeholder="First Name" class="form-control input" required />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <input asp-for="LastName" type="text" placeholder="Last Name" class="form-control input" required />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <input asp-for="Email" type="text" placeholder="Email" class="form-control input" required />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <input asp-for="Password" type="password" placeholder="Password" class="form-control input" required />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <input asp-for="Password" type="password" placeholder="Confirm Password" class="form-control input" required />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <hr />
                            <div class="form-group">
                                <input asp-for="CCCode" type="text" placeholder="Course Coordinator Code" class="form-control input" required />
                                <span asp-validation-for="CCCode" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn button">Create Account</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>