.image-matching {
    position: relative;
    width: 100%;
    height: 600px;
    border: solid 1px black;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("/assets/pelvis-xray.jpg")
}

.draggable{
    position: relative;
    cursor: move;
    opacity: 0.5;
    width: 100%;
}