@{
    ViewData["Title"] = "Clinics";
    ViewData["Controller"] = "Home";
}

<div class="text-center">
    <h2>Upcoming Clinics</h2>
</div>

<div class="card w-100">
    <div class="card-body">
        <h5 class="card-title">Scheduled Clinic</h5>
        <p class="card-text">Figure out what to add here</p>
    </div>
</div><br />

<div class="card w-100">
    <div class="card-body">
        <h5 class="card-title">Scheduled Clinic</h5>
        <p class="card-text">Figure out what to add here</p>
    </div>
</div><br />

<div class="card w-100">
    <div class="card-body">
        <h5 class="card-title">Scheduled Clinic</h5>
        <p class="card-text">Figure out what to add here</p>
    </div>
</div>