@{
    ViewData["Title"] = "Past Clinics";
    ViewData["Controller"] = "Home";
}

<div class="text-center">
    <h2>@ViewData["Title"]</h2>
</div>

@{
    for (int i = 1; i <= 40; i++)
    {
        <div class="card w-100">
            <div class="card-body">
                <h5 class="card-title">Past Clinic #@i</h5>
                <p class="card-text">@i/08/2022 - UniSA City East Campus - Building GH2</p>
            </div>
        </div>
        <br />
    }
}