@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Privacy Policy";
    ViewData["Controller"] = "Home";
}

<div class="container">
    <div>
        <h1 class="display-4">Privacy Policy</h1>
    </div>
    <div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer urna felis, ultricies id consectetur sit amet, tincidunt eget metus. 
            Nam sed ultrices ante. Donec ligula purus, maximus ultricies ipsum id, placerat pretium sem. Suspendisse vulputate nisl in metus posuere, 
            a dapibus lacus suscipit. Quisque sit amet leo quis dui ultrices rutrum non sit amet urna. Pellentesque in rhoncus velit. Sed a rutrum urna. 
            Suspendisse condimentum malesuada ex, in lacinia lorem euismod eu. Aenean ultrices id velit in posuere. Fusce vitae euismod mi, eget blandit nulla. 
            Fusce at leo vel tellus vestibulum ultricies vitae quis ligula. Donec placerat porttitor enim eget tempus.
            <br /><br />
            Curabitur lacinia porta massa et auctor. Vestibulum tellus magna, bibendum eget nibh rhoncus, pulvinar sollicitudin libero. 
            Aliquam scelerisque, enim nec rhoncus iaculis, est nunc laoreet magna, ut accumsan mi justo at ipsum. Morbi eget ultricies elit. 
            Fusce eget neque ullamcorper, tempor diam vel, gravida velit. Sed eleifend justo suscipit eros vehicula, sed eleifend sapien tempor. 
            Donec pharetra rutrum convallis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
            Quisque in lacus et neque cursus viverra. Phasellus ac risus non sapien volutpat molestie.
        </p>
    </div>
</div>
